/*
Colors:
#dda963
#c9814b
#25272a
#dbc1af
#cf6a4f
#e0b94a
#b2af5c
#a7a79e
#9b6970

https://lospec.com/palette-list/painted-parchment-9
*/

.container {
    background-image: url("texture.jpg");
    backdrop-filter: blur(1px);
}

h1 {
    font-family: 'Dekko', cursive;
    color: #25272a;
    /*
    font-size: 3.5vh;
    */
    text-decoration: underline;
}

p {
    font-family: 'Dekko', cursive;
    color: #25272a;
    /*
    font-size: 3vh;
    */
}

/*
.mt-2 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 5rem;
}

.center {
    text-align: center;
}

.left-h {
    text-align: left;
}

.left {
    margin-right: 25%;
    margin-left: 10%;
}

.right {
    margin-left: 35%;
    margin-right: 10%
}
*/
